@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Webservices Page!</h1>
    <p>Please click on a Webservice from the Toolbar above to try it out.</p>
</div>

